<!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bug Track Go</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="/project/">Projects</a></li>
            <li><a href="/bug/">Bugs</a></li>
            <li><a href="/project/new">New project</a></li>
            <li><a href="/bug/new/undefined">New bug</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/manage"><b><%= user.username %></b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>



<div class="container-fluid">
	 <% if (my.length > 0) { %>
  		<div class="panel panel-primary">
			<div class="panel-heading"><b>My projects</b></div>
      			<table class="table table-striped table-hover">
						<thead><tr><th>Name</th><th>Privacy</th><th>Status</th></tr></thead>
						<tbody>
						<% my.forEach(function(i) { %><tr>
							<td><%= i.name %></td>
							<% if (i.privacy === 'public') { %>
								<td><span class="btn btn-success disabled">Public</span></td>
							<% } else { %>
								<td><span class="btn btn-default disabled">Private</span></td>
							<% } %>

							<% if (i.status === 'developing') { %>
								<td><span class="btn btn-danger disabled">Developing</span></td>
							<% } else if(i.status === 'testing') { %>
								<td><span class="btn btn-warning disabled">Testing</span></td>
							<% } else { %>
								<td><span class="btn btn-default disabled">Production</span></td>
							<% } %>
							<td><a href="/project/<%= i.id %>"><span class="btn btn-default">Details >></span></a></td>
							</tr><% }) %>
						</tbody>
			 		</table>

    	</div>
	<% } else { %>
		<div class="well">You don't created any projects</div>
	<% } %>
	<hr />
	<% if (public.lenght > 0) {%>
  		<div class="panel panel-primary">
			<div class="panel-heading"><b>Projects where you are a developer</b></div>
      		<table class="table table-striped table-hover">
						<thead><tr><th>Name</th><th>Privacy</th><th>Status</th></tr></thead>
						<tbody>
						<% public.forEach(function(i) { %><tr>
							<td><%= i.name %></td>
							<% if (i.privacy === 'public') { %>
								<td><span class="label label_success"><%= i.privacy %></span></td>
							<% } else { %>
								<td><span class="label label_default"><%= i.privacy %></span></td>
							<% } %>
							<td><%= i.status %></td>
							<td><a href="/project/<%= i.id %>">Details</a></td>
							</tr><% }) %>
						</tbody>
			 		</table>
    	</div>
	<% } else { %>
		<div class="well">You are not a developer in any projects</div>
	<% } %>
	<% if (user.admin) { %>
	<hr />
		<% if (other.lenght > 0) { %>
			<div class="panel panel-primary">
				<div class="panel-heading"><b>Other projects</b></div>
					<table class="table table-striped table-hover">
						<thead><tr><th>Name</th><th>Privacy</th><th>Status</th></tr></thead>
						<tbody>
						<% other.forEach(function(i) { %><tr>
							<td><%= i.name %></td>
							<td><%= i.privacy %></td>
							<td><%= i.status %></td>
							<td><a href="/project/<%= i.id %>">Details</a></td>
							</tr><% }) %>
						</tbody>
			 		</table>
			</div>
		<% } else { %>
			<div class="well">There are not other projects</div>
		<% } %>
	<% } %>
</div>
