<!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bug Track Go</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/project/">Projects</a></li>
            <li><a href="/bug/">Bugs</a></li>
            <li><a href="/project/new">New project</a></li>
            <li><a href="/bug/new/undefined">New bug</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/manage"><b><%= user.username %></b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container-fluid">


		<%= JSON.stringify(user) %>
		
</div>
