<!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bug Track Go</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/project/">Projects</a></li>
            <li class="active"><a href="/bug/">Bugs</a></li>
            <li><a href="/project/new">New project</a></li>
            <li><a href="/bug/new/undefined">New bug</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/manage"><b><%= user.username %></b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container-fluid">
 	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Detail of Bug</b>
		</div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<tr>
					<td><b>Name:</b></td><td><%= bug.name %></td>
					<td><b>Priority:</b></td><td><%= bug.priority %></td>
				</tr>
				<tr>
					<td><b>Description:</b></td><td colspan="3"><%= bug.description %></td>
				</tr>
				<tr>
					<% if (bug.assignedTo != null) { %>
					<td><b>Assigned:</b></td><td><%= bug.assignedTo.username %></td>
					<% } else { %>
					<td><b>Assigned:</b></td><td>Not assigned</td>
					<% } %>
					<td><b>Is solved:</b></td><td><%= bug.solved %></td>
				</tr>
   	</table>
	 	</div>
		<div class="panel-footer" >
			This bug is still not assigned to developer! You can <u>assign</u> them or marked as <u>solved</u>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<b>Comments</b>
		</div>
		<div class="panel-body">
			<% if (comments.length > 0) { %>
				<% for (var i = 0; i < comments.length; i++) { %>
					<div class="panel panel-primary">
						<div class="panel-body">
							<%= comments[i].text %>
						</div>
						<div class="panel-footer">
							<%= comments[i].creatorName %>
						</div>
					</div>
			<% } %>
			<% } else { %>
			<div class="alert alert-success" role="alert"><b>There are no comments to show!</b></div>
			<% } %>
	 	</div>
		<div class="panel-footer" >
			<form class="form-vertical" action="/comment" method="post">
				<input type="hidden" name="creator" value="<%= JSON.stringify(user) %>">
				<input type="hidden" name="belongsTo" value="<%= JSON.stringify(bug) %>">
				<textarea rows="3" name="text" required="" class="form-control"></textarea>
				<hr />
				<button type="submit" class="btn btn-default">Send</button>
			</form>
		</div>
	</div>

</div>
