<!-- Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bug Track Go</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home">Home</a></li>
            <li><a href="/project/">Projects</a></li>
            <li><a href="/bug/">Bugs</a></li>
            <li><a href="/project/new">New project</a></li>
            <li class="active"><a href="/bug/new/undefined">New bug</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/user/manage"><b><%= user.username %></b></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container-fluid">

	<div class="panel panel-primary">
 		<div class="panel-heading">
	  		Report new bug
  		</div>
	 	<div class="panel-body">
			<form class="form-horizontal" action="/bug/" method="post">
				<div class="form-group">
             	<label class="control-label col-sm-2" for="name">Name of bug:</label>
             	<div class="col-sm-10">
               	<input type="text" class="form-control" required="" name="name" placeholder="Enter name of bug">
             	</div>
				</div>
				<hr />
				<div class="form-group">
             	<label class="control-label col-sm-2" for="project">Project:</label>
             	<div class="col-sm-10">
               	<% if (project) { %>
							<input type="hidden" name="belongsTo" value="<%= project.id %>">
               		<input type="text" class="form-control" name="" value="<%= project.name %>" disabled="true">
      				<% } else {  %>
							<select name="belongsTo" class="form-control" required="">
        						<% for (var i = 0; i < my.length; i++) { %>
									<option value="<%= my[i].id %>"><%= my[i].name %></option>
								<% } %>
									<option disabled="true">Public projects</option>
								<% for (var i = 0; i < public.length; i++) { %>
									<option value="<%= public[i].id %>"><%= public[i].name %></option>
								<% } %>
                		</select>
						<% } %>
              	</div>
				</div>
				<hr />
				<div class="form-group">
             	<label class="control-label col-sm-2" for="description">Description of bug:</label>
             	<div class="col-sm-10">
						<textarea rows="10" class="form-control" name="description" placeholder="Write some essay about your epic bug..." required=""></textarea>
             	</div>
				</div>
				<hr />
				<div class="form-group">
             	<label class="control-label col-sm-2" for="priority">Priority of bug:</label>
             	<div class="col-sm-10">
						<select name="priority" class="form-control" required="">
							<option value="normal">Normal</option>
							<option value="low">Low</option>
							<option value="high">High</option>
							<option value="none">None</option>
						</select>
             	</div>
				</div>
				<hr />
				<% if (project && project.developers.lenght != null) { %>
					<div class="form-group">
						<label class="control-label col-sm-2" for="project">Assign bug to:</label>
						<div class="col-sm-10">
							<select name="assignedTo" class="form-control" required="">
								<% for (var i = 0; i < project.delopers.length; i++) { %>
									<option value="<%= project.developers[i].id %>"><%= project.developers[i].name %></option>
								<% } %>
							</select>
						</div>
					</div>
				<hr />
				<% } %>
				<div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
			</form>
		</div>
 	</div>

</div>
